@model Taşınmaz_Projesi.Models.Kullanici
@{
    ViewBag.Title = "Details";
}

<h2>Detaylar</h2>
<br />
<br />
<br />
<div style="float:left">@Html.ActionLink("Çıkış", "Cıkıs", "Login", null, new { @class = "btn-default" })</div>
<br />
<br />
<br />
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.KullaniciID) </th>

        <th>@Html.DisplayNameFor(model => model.KullaniciAdi) </th>

        <th>@Html.DisplayNameFor(model => model.KullaniciSoyadi) </th>

        <th>@Html.DisplayNameFor(model => model.Email) </th>

        <th>@Html.DisplayNameFor(model => model.Rol) </th>

        <th>@Html.DisplayNameFor(model => model.Adres) </th>
        <th></th>
    </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.KullaniciID)</td> 

            <td>@Html.DisplayFor(model => model.KullaniciAdi)</td>

            <td>@Html.DisplayFor(model => model.KullaniciSoyadi)</td>

            <td>@Html.DisplayFor(model => model.Email)</td>

            <td>@Html.DisplayFor(model => model.Rol)</td>

            <td>@Html.DisplayFor(model => model.Adres)</td>
        </tr>
</table>
<style>
    .btn-default {
        border: 1px solid;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        outline: none;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 25px;
        padding-top: 25px;
    }
</style>
}


