@model PagedList.IPagedList<Taşınmaz_Projesi.Models.Log>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h2>Log Detayları</h2>
<br />
<br />
<br />
<div>
    <div style="float:left">@Html.ActionLink("Çıkış", "Cıkıs", "Login", null, new { @class = "btn-default" })</div>
    <div style="float: right">@Html.ActionLink("Yeni Kullanıcı Ekle", "Create")</div>
</div>
<br />
<br />
@using (Html.BeginForm("Index", "Log", FormMethod.Get))
{
    <p>
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "textbox", placeholder = "Aramak istediğiniz değeri giriniz" })
        <button type="submit" class="btn btn-info" onclick='window.location.href = "@Url.Action("Index", "Login", routeValues: null)"'>
            <span class="glyphicon glyphicon-search"></span> Ara
        </button>
    </p>
}

<br />
<br />
<br />
<div>
    <table class="table">
        <thead>
            @*html'de başlık içeriğini gruplar*@
            <tr>
                <th align="center">ID</th>

                <th align="center">Kullanıcı ID</th>

                <th align="center">IP</th>

                <th align="center">Durum</th>

                <th align="center">İşlem tipi</th>

                <th align="center">İşlem Süresi</th>

                <th align="center">Tarih/Saat</th>

                <th align="center">Açıklama</th>
            </tr>
        </thead>
        <tbody>
            @*html tablosunun gövde içeriğini gruplar*@
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="7"> Gösterilecek bir satır bulunmamaktadır</td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @*@Html.DisplayFor(ModelItem => item.Id)*@
                        </td>
                        <td>
                            @Html.DisplayFor(ModelItem => item.KullaniciID)
                        </td>
                        <td>
                            @Html.DisplayFor(ModelItem => item.Ip)
                        </td>
                        <td>
                            @Html.DisplayFor(ModelItem => item.Durum)
                        </td>
                        <td>
                            @Html.DisplayFor(ModelItem => item.IslemTipi)
                        </td>
                        <td>
                            @Html.DisplayFor(ModelItem => item.IslemSuresi)
                        </td>
                        <td>
                            @Html.DisplayFor(ModelItem => item.TarihSaat)
                        </td>
                        <td>
                            @Html.DisplayFor(ModelItem => item.Aciklama)
                        </td>
                    </tr>
                }
            }
            </tbody>
    </table>
    <br />
    <div class="col-md-5">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))

    <style>
        .textbox {
            border: 1px solid;
            border-radius: 40px;
            width: 50%;
            height: 60px;
            padding: 20px;
            resize: none;
            margin-right: 10px;
            align-content: center;
            outline: none;
        }

        .glyphicon glyphicon-search {
            border: 1px solid;
            border-radius: 40px;
            width: 100px;
            height: 60px;
            padding: 20px;
            resize: none;
            outline: none;
        }

        .btn-info {
            outline: none;
        }

        form {
            text-align: center;
        }

        .btn-default {
            border: 1px solid;
            border-radius: 50%;
            width: 70px;
            height: 70px;
            outline: none;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 25px;
            padding-top: 25px;
        }
    </style>

</div>